.body {
   width: 1260px;
   margin: 0;
   font-size: 14px;
   font-style: normal;
   font-family: Roboto, sans-serif;
}

.main {
   margin-left: 148px;
   margin-right: 132px;   
}

.logo {
   width: 168px;
   height: 50px;
   padding-top: 25px;
}

.search_box {
   padding-top: 21px;
}

.head_img {
   background-image: url(img/Mountains-and-hills-julian-alps.png);
   background-size: 100%;
   background-position: bottom right;   
   width: 962px;
   height: 332px;   
   position: relative;
   margin-bottom: 23px;
}

.shade_img {
   background-color: rgba(0, 0, 0, 0.38);   
   width: 100%;
   height: 100%;
}

.text_img {
   font-size: 64px;
   color: #FFC740;
   width: 509px;
   height: 150px;
   position: absolute;
   left: 44px;
   top: 17px;
}

.second_text_img {   
   font-size: 14px;  
   color: white;
   width: 451px;
   height: 133px;
   position: absolute;
   left: 43px;
   top: 174px;
}

.ref_img {
   width: 125px;
   height: 34px;
   text-decoration: none;
   font-size: 14px;
   background-color: #6D3D99;   
   position: absolute;
   left: 43px;
   bottom: 32px;
   text-align: center;
}

.top_ref {
   color: white;
   text-decoration: none;
   position: relative;
   top: 8px;
   font-weight: bold;
}

.link_menu {
   color: black;
   text-align: center;
   padding: 14px 0;
   text-decoration: none;
   font-size: 14px;  
   width: 124px;
}

.link_contact {
   color: black;
   text-align: center;
   padding: 14px 0;
   text-decoration: none;
   font-size: 14px;  
   width: 106px;
   position: relative;
   left: 4px;
}

.menu {
   width: 961px; 
   height: 49px; 
   margin-bottom: 12px;
   margin-top: 10px;
}

.navigation {
   width: 962px;
   display: flex;
   justify-content: space-between;  
}

.link_menu.active {
   background-color: #FFC740;
   color: white;
}

.link_menu:hover {
   background-color: #ddd;
   color: black;
}

.block {
   display: inline-block;
   margin: 11px 10px;
   width: 730px;       
   text-align: justify;
   font-size: 12px;
}

.block_bottom {
   display: inline-table;
   margin: 18px 10px 10px 10px;
   text-align: justify;
   font-size: 12px;
   width: 310px;
}

.line_violet {
   background-color: #9B51E0;
   color: black; 
   margin: 0;
   height: 16px
}

.line_violet_span {
   font-size: 14px;
   font-weight: bold;
   background-color: white;
   margin-left: 16px;
   padding: 1px 5px;
}

.line_orange {
   background-color: #FFC740;
   color: black; 
   margin: 0;
   height: 16px
}

.line_orange_span {
   font-size: 14px;
   font-weight: bold;
   background-color: white;
   margin-left: 16px;
   padding: 1px 5px;
}

.top_line {
   height: 5px;
   width: 1260px;
   background-color: #9B51E0;
   padding: 0;
   margin: 0;
}

.clents {
   width: 960px;
   height: 144px;
   display: flex;
   align-items: center;  
   justify-content: center;  
}

.clents_line {
   width: 942px;
   margin-top: 20px;
   margin-left: 10px;
}

.clents_img_html {
   object-fit: scale-down;
   height: 98px;
   position: relative;
   right: 68px;
   bottom: 6px;
}

.clents_img_css {
   object-fit: scale-down;
   height: 98px;
   position: relative;
   right: 39px;
   bottom: -1px;
}

.clents_img_nodejs {
   height: 79px;
   position: relative;
   right: 17px;
}

.clents_img_php {
   height: 97px;
   position: relative;
   right: -15px;
   bottom: 7px;
}

.clents_img_mysql {
   height: 72px;
   position: relative;
   right: -44px;
   bottom: 6px;
}

.left_img {
   float:left; 
   border: 2px solid #FFC740;
   box-sizing: border-box;
   margin: 0 21px 0 0; 
   object-fit: cover;
   width: 141px;
   height: 141px;  
   padding: 2px; 
}

.small_img {
   object-fit: cover;
   width: 40px;
   height: 40px;
   float: left;
   margin: 0 5px 0 0;
}

.footer {
   display: flex;
   color: white;
   align-items: center;
   justify-content: center;
   background-color: #6D3D99;   
   width: 1260;
   height: 110px;
   font-weight: bold;
}

.search {
   border: 1px solid #6D3D99;
   border-right: none;
   padding: 5px;
   height: 33px;   
   outline: none;
   color: black; 
   margin: -4px;
   font-size: 14px;
   width: 159px;
}

.search_button {
   width: 42px;
   height: 33px;
   border: 1px solid #9B51E0;
   background: #9B51E0;
   text-align: center;
   color: #fff;
   cursor: pointer;
   font-size: 14px;
   font-weight: bold;
}

.bottom_center {
   display: flex;
   flex-direction: column;
   justify-content: center;
} 

.bottom_center_elem {
   margin-bottom: 0;
}

.read_more {
   font-size: 12px; 
   font-weight: normal;
   padding-left: 0;
   color: black;
}